.container { 
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;
  background-color: bisque;
}

.cartIcons {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 20px;
}

.cartIcon{
  padding: 10px;
  color: black;
}

.iconContainer{
  color: black;
  cursor: pointer;
}