.container { 
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;
  background-color: bisque;
}

.cartIcon {
  display: flex;
  align-items: center;
  font-size: 20px;
}